<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget-hosted" value="https://repos.iec.io/repository/nuget-metadata-gsp/" />
  </packageSources>
    <disabledPackageSources>
      <add key="Microsoft and .NET" value="true" /> 
    </disabledPackageSources>
  <apikeys>
  <add key="nuget-hosted" value="bee69af7-18f5-3530-96a6-df6e9e94bcf1"/>
  </apikeys>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
   <config>
     <!--<add key="globalPackagesFolder" value="D:\codes\NuGetPackages\.nuget\packages" />-->
  </config>
  <packageSourceCredentials>
      <nuget-hosted>
      <add key="Username" value="gsp_metata_nuget_user" />
      <add key="ClearTextPassword" value="r5WAixwFc6" />
    </nuget-hosted>
  </packageSourceCredentials>
</configuration>